<%= form_for @job, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hook, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hook, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :must_haves, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :must_haves, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :love_to_haves, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :love_to_haves, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nice_to_haves, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nice_to_haves, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :max_salary, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :max_salary, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :min_years_experience, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :min_years_experience, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  jobs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
